<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Do_an.Properties.Settings.Do_anConnectionString" connectionString="Data Source=DESKTOP-DHJ1R7L\SQLEXPRESS;Initial Catalog=Do_an;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
